<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>66427527475-hulb0q8vqshbbjotsnh3i0jqiek3sf1u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.66427527475-hulb0q8vqshbbjotsnh3i0jqiek3sf1u</string>
	<key>API_KEY</key>
	<string>AIzaSyDcpLNCbn1fb_es-Wb7aXhNwCPl-6gBERU</string>
	<key>GCM_SENDER_ID</key>
	<string>66427527475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xyz.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-maaz</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-maaz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66427527475:ios:6e89c9900c8d3a55a19e46</string>
</dict>
</plist>